
/* CSS Document */
body {
  font-family: 'Novecentosanswide-Normal', sans-serif;
}
.clear-fix:after {
  content: " ";
  display: block;
  clear: both;
}
.conteudo {
  position: relative;
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}
.topo {
  position: relative;
  width: 100%;
  background: #072239;
}
.topo .conteudo {
  padding: 1.4% 0;
}
.topo .acessibilidade {
  float: right;
  margin-top: 17px;
  z-index: 99;
}
.topo .acessibilidade ul li {
  display: inline;
  background: #0a2d4a;
  border: 1px solid #123757;
  border-radius: 3px;
  font-size: 0.75em;
  padding: 6px 10px;
  margin-right: 4px;
  -webkit-box-shadow: 0px 2px 0px 0px #123757;
  -moz-box-shadow: 0px 2px 0px 0px #123757;
  box-shadow: 0px 2px 0px 0px #123757;
}
.topo .acessibilidade ul li:hover {
  background: #2daba7;
}
.topo .acessibilidade ul li a {
  font-family: 'Roboto', sans-serif;
  color: white;
}
.logo {
  position: relative;
  width: 290px;
  height: 55px;
  margin: 0 auto;
}
.busca {
  float: left;
  width: 100%;
  min-height: 395px;
  background: url('../img/bg-busca.jpg') no-repeat top center;
  background-position: 0 -97px;
}
.busca > .conteudo {
  padding: 85px 0;
}
h1 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 3em!important;
  color: white;
  text-transform: uppercase;
  font-family: 'Novecentosanswide-Light', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 25px 0!important;
}

.detalhes-title {
  font-family: 'Novecentosanswide-Medium', sans-serif;
  font-weight: bold;
  font-size: 1.6em!important;
  letter-spacing: -1px;
  color: #427eb3;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
}

.conteudo-posto {
  position: relative;
  width: 1170px;
  max-width: 90%;
  margin: 0 auto;
}

h1 a {
  color: white;
}
h1 strong {
  position: relative;
  font-family: 'Novecentosanswide-Normal', sans-serif;
  font-weight: normal;
  font-style: normal;
}
h1 strong:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #2daba7;
  left: 0;
  bottom: -5px;
}
.busca form {
  display: block;
  width: 55%;
  margin: 0 auto;
}
.busca form .form-grupo {
  width: 72%;
  display: inline-block;
  padding-right: 8px;
}
.busca form .form-grupo-btn {
  width: 27%;
  display: inline-block;
}
.busca form label {
  display: none;
}
.busca input[type="text"] {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #f1f8f9;
  border: none;
  border-radius: 5px;
  padding: 15px;
}
.busca input[type="submit"] {
  width: 100%;
  background: url('../img/icone-busca.png') no-repeat #ff9000;
  background-position: 80% center;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 13px 16% 10px 0;
  -webkit-box-shadow: 0px 4px 0px 0px #e36c03;
  -moz-box-shadow: 0px 4px 0px 0px #e36c03;
  box-shadow: 0px 4px 0px 0px #e36c03;
}
.busca p {
  width: 45%;
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  padding: 8px 8px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #82A5C0;
  border: 1px solid #376287;
  font-size: 0.85em;
}
.busca-rapida {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #30aaa7;
}
.busca-rapida > .conteudo {
  padding: 30px 0;
}
.busca-rapida > .conteudo > .legenda {
  position: relative;
  width: 14%;
  text-transform: uppercase;
  color: white;
  font-size: 1.1em;
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}
.busca-rapida > .conteudo > .legenda:after {
  position: absolute;
  content: '';
  width: 7px;
  height: 100%;
  background: url('../img/after-busca-rapida.png') no-repeat;
  background-position: center center;
  right: -7px;
  top: 0;
}
.busca-rapida > .conteudo > ul {
  width: 85%;
  display: inline-block;
  padding-left: 20px;
}
.busca-rapida > .conteudo > ul li {
  display: inline-block;
  background-color: #23928f;
  padding: 10px 18px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 0px 0px #137e7b;
  -moz-box-shadow: 0px 4px 0px 0px #137e7b;
  box-shadow: 0px 4px 0px 0px #137e7b;
  margin-right: 10px;
}
.busca-rapida > .conteudo > ul li a {
  font-family: 'Novecentosanswide-Light', sans-serif;
  font-size: 1.2em;
  color: white;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
}
.busca-rapida > .conteudo > ul li span {
  position: absolute;
  text-indent: -9999px;
}
article.mapa {
  background: white;
  width: 100%;
  float: left;
}
article.mapa > .conteudo {
  padding: 50px 0 0 0;
}
article.mapa > .conteudo > .col-esq,
article.mapa > ol > .conteudo > .col-esq {
  float: left;
  width: 69%;
}
article.mapa > .conteudo > .col-dir,
article.mapa > ol > .conteudo > .col-dir {
  display: inline-block;
  width: 30%;
}
article.mapa > .conteudo > .col-esq h2 {
  font-size: 2em;
  letter-spacing: -1px;
  color: #427eb3;
  text-transform: uppercase;
  margin-bottom: 20px;
}
article.mapa > .conteudo > .col-esq h2 strong {
  font-family: 'Novecentosanswide-Medium', sans-serif;
}
article.mapa > .conteudo > .col-esq span {
  position: relative;
  padding: 5px 30px;
  border: 1px solid #427eb3;
  color: #427eb3;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}
article.mapa > .conteudo > .col-esq span:after {
  position: absolute;
  content: '';
  background: url('../img/after-span-mapa.png') no-repeat;
  width: 50px;
  height: 31px;
  right: -40px;
  top: 10px;
}
article.mapa > .conteudo > .col-dir h3 {
  display: block;
  padding: 5px 5px;
  background: #f2f8fb;
  color: #427eb3;
  text-align: center;
  font-family: 'Novecentosanswide-Light', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 5px;
}
article.mapa > .conteudo > .col-dir a {
  background: white;
  margin-top: 10px;
  display: inline-block;
  color: #427eb3;
  padding: 10px 25px 10px 45px;
  border: 1px solid #427eb3;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-right: 8px;
}
article.mapa > .conteudo > .col-dir a:last-child {
  margin-right: 0;
}
article.mapa > .conteudo > .col-dir a.lista {
  background: url('../img/icon-lista-azul.png') no-repeat;
  background-position: 10% 50%;
}
article.mapa > .conteudo > .col-dir a.mapa {
  background: url('../img/icon-mapa-azul.png') no-repeat;
  background-position: 10% 50%;
}
article.mapa > .conteudo > .col-dir a[class='mapa active'] {
  background: url('../img/icon-mapa.png') #427eb3 no-repeat;
  background-position: 10% 50%;
  color: white;
  padding: 10px 25px 6px 55px;
  -webkit-box-shadow: 0px 4px 0px 0px #2c5e8b;
  -moz-box-shadow: 0px 4px 0px 0px #2c5e8b;
  box-shadow: 0px 4px 0px 0px #2c5e8b;
}
article.mapa > .conteudo > .col-dir a[class='lista active'] {
  background: url('../img/icon-lista-branco.png') #427eb3 no-repeat !important;
  background-position: 10% 50%!important;
  color: white;
  padding: 10px 25px 10px 45px;
  -webkit-box-shadow: 0px 4px 0px 0px #2c5e8b;
  -moz-box-shadow: 0px 4px 0px 0px #2c5e8b;
  box-shadow: 0px 4px 0px 0px #2c5e8b;
}
article.mapa > ol > .listagem {
  padding: 0 0 30px 0;
  list-style: none;
}
article.mapa > ol > .listagem > .col-esq {
  margin-right: 11px;
  width: 68%;
}
article.mapa > ol > .listagem > .col-esq,
article.mapa > ol > .listagem > .col-dir {
  background: #f2f8fb;
  border: 1px solid #baccd6;
  border-radius: 5px;
  padding: 25px 20px;
  font-family: 'Roboto', sans-serif;
}
article.mapa > ol > .listagem > .col-esq > .mapa {
  float: left;
  background: #baccd6;
  width: 30%;
  height: 125px;
  border: 1px solid #baccd6;
  border-radius: 5px;
}
article.mapa > ol > .listagem > .col-esq > .ubs {
  float: left;
  margin-left: 30px;
  font-size: 0.9em;
  width: 60%;
}
article.mapa > ol > .listagem > .col-esq > .ubs > h4 a,
article.mapa > ol > .listagem > .col-esq > .ubs > h1 a {
  display: block;
  font-size: 1.3em;
  color: #427eb3;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}
article.mapa > ol > .listagem > .col-esq > .ubs > h1 a{
  font-size: 0.4em;
  text-align: left;

}
article.mapa > ol > .listagem > .col-esq > .ubs > h1{
  margin: 0 0 0 0!important;
}

article.mapa > ol > .listagem > .col-esq > .ubs > .box {
  position: relative;
  width: 20%;
  background: white;
  padding: 10px 10px;
  float: left;
  text-align: center;
  color: #70879b;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 17px;
  border-radius: 5px;
}
article.mapa > ol > .listagem > .col-esq > .ubs > address {
  position: relative;
  float: left;
  width: 79%;
  color: #70879b;
  font-weight: 100;
  line-height: 21px;
  font-size: 0.95em;
  padding-left: 12px;
}
article.mapa > ol > .listagem > .col-esq > .ubs > .comentarios {
  float: left;
  clear: both;
  width: auto;
  padding: 6px 10px;
  background: white;
  border: 1px solid #427eb3;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 1px 0px 0px #699dca;
  -moz-box-shadow: 0px 1px 0px 0px #699dca;
  box-shadow: 0px 1px 0px 0px #699dca;
}
article.mapa > ol > .listagem > .col-esq > .ubs > .comentarios a {
  color: #427eb3;
  font-size: 0.9em;
}
article.mapa > ol > .listagem > .col-dir {
  padding: 20px 20px;
}
article.mapa > ol > .listagem > .col-dir > table {
  width: 100%;
}
article.mapa > ol > .listagem > .col-dir > table > caption {
  width: 100%;
  margin: 0 auto;
  background: white;
  font-size: 0.9em;
  color: #466e8e;
  text-align: center;
  padding: 7px;
  margin-bottom: 17px;
}
article.mapa > ol > .listagem > .col-dir > table tr th,
article.mapa > ol > .listagem > .col-dir > table tr td {
  color: #466e8e;
  font-size: 0.8em!important;
  height: 18px;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrela-1,
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-2,
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-3,
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-4,
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-5 {
  text-indent: -9000px;
  width: 76px;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrela-1 {
  background: url('../img/1-estrela.png') no-repeat;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-2 {
  background: url('../img/2-estrelas.png') no-repeat;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-3 {
  background: url('../img/3-estrelas.png') no-repeat;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-4 {
  background: url('../img/4-estrelas.png') no-repeat;
}
article.mapa > ol > .listagem > .col-dir > table tbody tr .estrelas-5 {
  background: url('../img/5-estrelas.png') no-repeat;
}
article.mapa > ol > .mapa-visualiza {
  padding: 0 0 30px 0;
}
article.mapa #mapa {
  border: 3px solid #f4f4f4;
  width: 100%;
  height: 400px;
  margin: 0px auto 40px;
  text-align: center;
  vertical-align: middle;
}
article.mapa #mapa img {
  margin: 150px 0 15px 0;
}
article.mapa #mapa p {
  color: #427eb3;
}
footer {
  float: left;
  width: 100%;
  background: #30aaa7;
  padding: 35px 0 0 0;
}
footer > .conteudo {
  padding-bottom: 30px;
}
footer > .conteudo > .logo-footer {
  float: left;
}
footer > .conteudo > .dados-abertos {
  float: right;
}
footer > .conteudo > .dados-abertos img {
  position: relative;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 2px solid #23928f;
}
footer > .assinatura {
  background: #072239;
  width: 100%;
  float: left;
  text-align: right;
  padding: 15px 0;
}
footer > .assinatura > .conteudo a {
  color: #627382;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7em;
}
/** Paginação **/
.div-pagination {
  text-align: center;
}
.div-pagination > .pagination li {
  display: inline;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #f4f4f4;
  color: #466e8e;
  margin: 0px 3px;
}
.div-pagination > .pagination li a {
  color: #466e8e;
}
.div-pagination > .pagination > .active {
  background: #466e8e;
}
.div-pagination > .pagination > .active a {
  color: #fff;
}
.nota {
  display: none;
}
.pagination-margem{
  padding-bottom: 50px !important;
}
.interna-hospital{
  padding-top: 30px;
}
#mensagem_comando {
  display: none;
  position: absolute;
  min-width: 100px;
  max-width: 250px;
  right: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.90);
  border-radius: 3px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  font-family: 'Novecentosanswide-Normal', sans-serif;
  font-size: 14px;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
}
#mensagem_comando a {
  color: white;
  text-decoration: none;
  line-height: 18px
}
#mensagem_comando > strong{
  font-size: 15px;
  letter-spacing: -1px;
}
#comentario-facebook {
  padding: 0 0 50px 0!important;
}